<div class="container mb-5">
    <h1 class="display-4 text-center mt-5">Transaction Details</h1>
    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="card bg-light" style="max-width: 60rem;">
                <div class="card-body">
                    <div class="container-fluid">
                        <input type="hidden" name="account_Code" value="transactionService.formData.account_Code"
                            [(ngModel)]="transactionService.formData.account_Code" />
                        <div class="row d-flex align-items-center justify-content-center mt-5">
                            <div class="form-group col-md-6">
                                <label for="name">Transaction Date</label>
                                <input type="date" class="form-control" id="BirthDate" name="transaction_Date"
                                    [(ngModel)]="transactionService.formData.transaction_Date"
                                    (ngModelChange)="transactionService.formData.transaction_Date = $event"
                                    [value]="transactionService.formData.transaction_Date" #transaction_Date="ngModel"
                                    required />
                                <div [hidden]="transaction_Date.valid || transaction_Date.pristine"
                                    class="alert-danger">
                                    Transaction Date is required
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center mt-2">
                            <div class="form-group col-md-6">
                                <label for="name">Description</label>
                                <input type="text" class="form-control" placeholder="Description" name="description"
                                    #description="ngModel" [(ngModel)]="transactionService.formData.description"
                                    required />
                                <div [hidden]="description.valid || description.pristine" class="alert-danger">
                                    Description is required
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center mt-2">
                            <div class="form-group col-md-6">
                                <label for="name">Amount</label>
                                <input type="number" class="form-control" placeholder="Amount" name="amount" min="1"
                                    #amount="ngModel" [(ngModel)]="transactionService.formData.amount" required />
                                <div [hidden]="amount.valid || amount.pristine" class="alert-danger">
                                    An amount bigger than 0 is required
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary btn-block" type="submit"
                                    [disabled]="form.invalid">Save</button>
                            </div>
                        </div>
                        <div *ngIf="showAlertMessage" class="row d-flex align-items-center justify-content-center mt-2">
                            <app-alert></app-alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>