<div class="container mb-5">
    <h1 class="display-4 text-center mt-5">Person Details</h1>
    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="card bg-light" style="max-width: 60rem;">
                <div class="card-body">
                    <div class="container-fluid">
                        <input type="hidden" name="id" value="service.formData.id" />
                        <div class="row d-flex align-items-center justify-content-center mt-5">
                            <div class="form-group col-md-6">
                                <label for="name">First Name</label>
                                <input class="form-control" placeholder="First Name" name="firstname"
                                    #firstname="ngModel" [(ngModel)]="service.formData.name" required />
                                <div [hidden]="firstname.valid || firstname.pristine" class="alert-danger">
                                    Name is required
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center mt-2">
                            <div class="form-group col-md-6">
                                <label for="name">Surname</label>
                                <input class="form-control" placeholder="Surname" name="surname" #surname="ngModel"
                                    [(ngModel)]="service.formData.surname" required />
                                <div [hidden]="surname.valid || surname.pristine" class="alert-danger">
                                    Surname is required
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center mt-2">
                            <div class="form-group col-md-6">
                                <label for="name">ID Number</label>
                                <input class="form-control" placeholder="ID Number" name="idNumber" #idNumber="ngModel"
                                    [(ngModel)]="service.formData.id_Number" required />
                                <div [hidden]="idNumber.valid || idNumber.pristine" class="alert-danger">
                                    ID Number is required
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary btn-block" type="submit"
                                    [disabled]="form.invalid">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<app-accounts *ngIf="isEditForm"></app-accounts>
<!-- 
<div class="row d-flex align-items-center justify-content-center mt-2">
    <div class="form-group col-md-3">
        <label for="name">Surname</label>
        <input class="form-control" placeholder="Surname" name="surname" #firstname="ngModel"
            [(ngModel)]="service.formData.surname" required />
    </div>

</div> -->