@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About The Developer</h1>
    <p>Thabani Tembe is a full stack developer with over 3 years commercial experience in developing ASP.NET Applications.</p>
    <p>Outdoors you can find him at the gym or at the local restaurants with friends.</p>
    <p>Indoors it's either hes lazing around watching series ,playing video games or spending some quality time with loved ones.</p>
</div>
